body {
font-family: Arial;
background-color:AliceBlue;
color: CornFlowerBlue;
margin: 20px;
}


.navbar {
  overflow: hidden;
  background-color:  #99ccff;
}
.navbar a {
  float: left;
  font-size: 20px;
  font-style: Bold;
  font-weight:600;
  color: Black;
  text-align: center;
  padding: 30px 60px;
  text-decoration: none;
  text-align: center;
}

.img.1{
float: left;
margin-bottom: 30px;
}

.img.2{
float: left
width: 100px;
height: 200px;
}

.img.3{
margin-top: 30px;   
width: 100px;
height: 200px;
}


.navbar a:hover, {
  background-color: DodgerBlue;
}

.academics {
position: relative;
color:  #99ccff;
border:3px; 
border-style:solid; 
border-color: #99ccff; 
}

/* Centered text */
.centered,.center {
position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-20%, -20%);
}

.align{
padding: 10px;
margin: 10px;
width: 80%;
float: left;
height:200px;
font-size: 15px;
}

.picture{
border: 4px solid  #99ccff;
margin: 20px;
width: 71%;
height: 540px;
float: left;
}

.home-name-link{
font-size: 20px;
padding: 10px;
font-style: bold;
color:  #99ccff;
background-color: white;
border-radius: 5px;
margin-bottom: 5px;
}

h1{
font-size: 30px;
color: #99ccff;
}


.jumbotron{
background-image: url("https://images.unsplash.com/photo-1464925257126-6450e871c667?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
vertical-align: center;
}

.default{
font-size: 30px;
padding: 20px;
background-color: white;
color:  #99ccff;
margin: 40px;
overflow: hidden;
}

#hula{
border-color:#99ccff;
border-style: solid;
border-width: 2px;
padding: 5px;
}

.pic1{
height: 350px;
width: 350px;
margin: 10px;
}

.pic2{
height: 350px;
width: 350px;
margin: 10px;
}

iframe{
width: 800px;
height: 500px;
border-color: AliceBlue;
margin-bottom: 40px;
vertical-align: center;
}

.button-1{
background-color: AliceBlue;
border-style: groove;
border-color: AliceBlue;
}

.button-1:hover { 
  background-color: white;
}

.default{
background-color:  #e6ffff;
}

.carousel-inner > .item > img {
    min-width: 100%;
    height: 750px;
    display: block;
}

