body{
    margin: 20px;
}

.jumbotron{
    background-image: url("https://scx1.b-cdn.net/csz/news/800/2019/4-space.jpg")
}

.jumbotron h1{
    color: white;
}

#index_img_1, #index_img_2, #index_img_3{
    width:300px;
    height:200px;
    border-width:5px;
    border-radius:15px;
}

.index_p{
    width: 300px;
}

nav{
    margin: 20px;
}

#planetimg1{
    width: 600px;
    height: 400px;
}

.planet_p{
    width: 1000px;
    margin: 20px;
}

#sunimg1{
    width: 700px;
    height: 500px;
}

.sun_p{
    width: 1000px;
    margin: 20px;
}

#dustimg1{
    width:600px;
    height:400px;
}

.dust_p{
    width:1000px;
    margin: 20px;
}

.index_p1{
    width: 1000px;
    margin: 20px;
}

.btn{
    background-color: cornflowerblue;
}

h6{
    color:#a3c2c2;
}
